body
{
	font-size: 9pt;
	font-family: ו;
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
}

.TdStyle
{
	color: Black;
	background-color: #F1F3F2;
	height: 30px;

}
.TdStyleW
{
	color: Black;
	height: 30px;
    font-weight :bold ;

}
.TextBox
{
	font-family: "Verdana";
	font-size: 9pt;
	text-decoration: none;
	border: 1px solid #B8B8B8;
	height: 22px;
}

TR.HeaderStyle
{
	color: Black;
	background-color: #3198DD;
	height: 30px;
    font-weight :bold ;
    background-image:url('../image/title.bmp');
}
TR.ItemStyle
{
	color: Black;
	height: 30px;
}
.ItemStyle1
{
	color: #000000;
}

.button
{
BORDER-RIGHT: #7b9ebd 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7b9ebd 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde); BORDER-LEFT: #7b9ebd 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #7b9ebd 1px solid;
}

